body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Prevents scrolling on smaller screens */
}

#fisun-cc, #cyber-consulting {
    font-size: 48pt; /* Fixed font size */
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
    opacity: 0; /* Start with text invisible */
}

#fisun-cc {
    top: calc(50% - 82px); /* Adjust vertical position to be above the center */
    font-weight: 300;
}

#cyber-consulting {
    top: calc(50%); /* Adjust vertical position to be below the center */
    font-weight: 100;
}

#line {
    position: absolute;
    top: 50%; /* Center the line vertically */
    left: 50%; /* Center the line horizontally */
    transform: translate(-50%, -1px); /* Fine-tune line's vertical positioning */
    background-color: #000;
    height: 2px;
    width: 0; /* Start with line width as 0 */
    opacity: 0; /* Line starts invisible */
    transition: width 2s, opacity 2s; /* Transition for line appearance and width change */
}

/* Keyframes for text fade-in and slide */
@keyframes fadeInAndSlide {
    0% { 
        opacity: 0; 
        transform: translate(-50%, 10px); /* Start just below the final position */
    }
    100% { 
        opacity: 1; 
        transform: translate(-50%, 0); /* Slide to final position */
    }
}

@keyframes fadeInAndSlideDown {
    0% { 
        opacity: 0; 
        transform: translate(-50%, -10px); /* Start just above the final position */
    }
    100% { 
        opacity: 1; 
        transform: translate(-50%, 0); /* Slide to final position */
    }
}
